/*--------------------
   MY ACCOUNT PAGE
--------------------*/

@include mq($mq-large) {
	.linkAccounts {
		&-content {
			display: flex;
			flex-wrap: wrap;
			margin-left: -2%;

			.alert {
				font-size: 13px;
				margin-bottom: 0;
			}
		}
		&-account {
			display: flex;
			padding-left: 2%;
			width: 50%;

			.panel {
				width: 100%;
			}
		}
	}
}