/*--------------------
      HOME PAGE
--------------------*/

.categories-list {
	margin-bottom: 10px;

	li {
		text-transform: capitalize;
	}
	.disabled {
		color: $color-disabled;
		cursor: default;

		&:hover {
			background: none;
			color: $color-disabled;
			text-decoration: none;
		}
	}
	.badge {
		background-color: $brand-info;
		margin-left: 3px;
	}
	&.list-inline > li {
		padding: 4px 8px;
	}

}
.tags-cloud {
	margin: 10px auto 20px;
	text-align: center;

	@include mq($mq-large) {
		max-width: 85%;
	}
	.btn {
		margin-bottom: 2px;
		margin-right: 2px;
	}
}
.categories-list,
.tags-cloud {
	.badge {
		font-size: 10px;
		padding: 3px 6px;
		vertical-align: middle;
	}
}