/*--------------------
  RECIPE DETAIL PAGE
--------------------*/

.recipe-photo {
	display: block;
	margin: 0 auto 20px;
	max-height: 300px;
	max-width: 100%;
	width: auto;
}
.recipe-info-list {
	list-style: none;
	padding-left: 0;

	&-category {
		text-transform: capitalize;
	}
}
.recipe-ingredients {
	li {
		padding: 3px 0;
	}
}
.recipe-directions {
	li {
		padding: 5px 0;
	}
}