/*--------------------
  RECIPE DETAIL PAGE
--------------------*/

.recipe-photo {
	display: block;
	margin: 0 auto 20px;
	max-height: 300px;
	max-width: 100%;
	width: auto;
}
.recipe-info-list {
	list-style: none;
	padding-left: 0;

	&-category {
		text-transform: capitalize;
	}
	i {
		margin-right: 3px;
	}
}
.recipe-ingredients {
	ul {
		list-style: outside none;
		padding-left: 0;

		@include mq($mq-large) {
			padding-left: 10px;
		}
	}
	li {
		padding: 5px 0;

		&.heading {
			cursor: default;
		}
		i {
			margin-right: 6px;
		}
	}
	&-heading {
		font-size: 18px;
	}
}
.recipe-directions {
	ol {
		padding-left: 48px;

		@include mq($mq-large) {
			padding-left: 62px;
		}
	}
	li {
		font-weight: bold;
		padding: 6px 0;
		position: relative;

		i {
			position: absolute;
				left: -48px;
				top: 9px;

			@include mq($mq-large) {
				left: -50px;
			}
		}
		span {
			font-weight: normal;
		}
	}
}
.recipe-ingredients li,
.recipe-directions li {
	&.checked {
		i {
			color: $brand-success;
		}
		span {
			color: $text-muted;
			text-decoration: line-through;
		}
	}
}