/*--------------------
  RECIPE DETAIL PAGE
--------------------*/

.recipe-photo {
	display: block;
	margin: 0 auto 20px;
	max-height: 300px;
	max-width: 100%;
	width: auto;
}
.recipe-info-list {
	list-style: none;
	padding-left: 0;

	&-category {
		text-transform: capitalize;
	}
}
.recipe-ingredients {
	ul {
		list-style: outside none;
		padding-left: 20px;
	}
	li {
		padding: 3px 0;

		i {
			color: $text-muted;
			font-size: 18px;
			vertical-align: middle;
		}
		&.checked {
			i {
				color: $brand-success;
			}
			span {
				text-decoration: line-through;
			}
		}
	}
}
.recipe-directions {
	li {
		padding: 5px 0;
	}
}