<form name="recipeForm" class="recipeForm" novalidate>
	<p class="req"><strong>*</strong> <small><em>required</em></small></p>

	<div class="form-group recipeForm-name">
		<label for="recipeName">Recipe Name<span class="req">*</span></label>
		<input id="recipeName"
			   name="name"
			   type="text"
			   ng-model="rf.recipeData.name"
			   class="form-control"
			   ng-focus="rf.clearChar()"
			   required>
	</div>

	<div class="form-group recipeForm-description">
		<label for="recipeDescription">Description<span class="req">*</span></label>
		<textarea id="recipeDescription"
				  name="recipeDescription"
				  class="form-control"
				  rows="3"
				  ng-model="rf.recipeData.description"
				  ng-focus="rf.clearChar()"
				  required></textarea>
	</div>

	<div class="form-group recipeForm-ingredients">
		<label>Ingredients<span class="req">*</span></label>

		<div class="recipeForm-specialChars form-group form-inline">
			<p>
				<small>Measurement characters: click to insert at cursor in <strong>Amount</strong> field.</small>
			</p>
			<button
					class="btn btn-default btn-sm"
					ng-repeat="char in rf.chars"
					ng-click="rf.insertChar(char)">{{char}}</button>
		</div>

		<div class="form-inline recipeForm-ingredients-item"
			 ng-repeat="ing in rf.recipeData.ingredients track by $index"
			 ng-class="{'last': $last}">

			<div class="input-group recipeForm-ingredients-item-amt">
				<label for="ingredientAmt-{{$index}}" class="input-group-addon">Amount</label>
				<input id="ingredientAmt-{{$index}}"
					   name="ingredientAmt-{{$index}}"
					   type="text"
					   placeholder="1 c, ¼ tsp, pinch"
					   ng-model="ing.amt"
					   class="form-control recipeForm-ingredients-item-amt-input"
					   ng-focus="rf.insertCharInput($event, $index)"
					   ng-keyup="rf.insertCharInput($event, $index)"
					   ng-click="rf.insertCharInput($event, $index)">
			</div>

			<div class="input-group recipeForm-ingredients-item-ingredient">
				<label for="ingredient-{{$index}}" class="input-group-addon">Ingredient</label>
				<input id="ingredient-{{$index}}"
					   name="ingredient-{{$index}}"
					   type="text"
					   placeholder="ingredient {{$index + 1}}"
					   ng-model="ing.ingredient"
					   class="form-control"
					   ng-focus="rf.clearChar()">
				<div class="input-group-btn">
					<button class="btn btn-danger"
							ng-click="rfl.removeItem(rf.recipeData.ingredients, $index)"
							ng-disabled="rf.recipeData.ingredients.length === 1">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
		</div>

		<p>
			<button class="btn btn-info" ng-click="rfl.addItem($event, rf.recipeData.ingredients)">
				<i class="fa fa-plus"></i> Add Another Ingredient
			</button>
		</p>
	</div>

	<div class="form-group recipeForm-directions">
		<label>Directions<span class="req">*</span></label>

		<div class="recipeForm-directions-step"
			 ng-repeat="step in rf.recipeData.directions track by $index"
			 ng-class="{'last': $last}">
			<div class="input-group">
				<div class="input-group-addon">{{$index + 1}}.</div>
				<input id="directions-{{$index}}"
					   name="directions-{{$index}}"
					   type="text"
					   placeholder="Directions for step {{$index + 1}}"
					   ng-model="step.step"
					   class="form-control"
					   ng-focus="rf.clearChar()">
				<div class="input-group-btn">
					<button class="btn btn-danger"
							ng-click="rfl.removeItem(rf.recipeData.directions, $index)"
							ng-disabled="rf.recipeData.directions.length === 1">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
		</div>

		<p>
			<button class="btn btn-info" ng-click="rfl.addItem($event, rf.recipeData.directions)">
				<i class="fa fa-plus"></i> Add Another Step
			</button>
		</p>
	</div>

	<div class="form-group recipeForm-public">
		<label>Public<span class="req">*</span></label>
		<p>
			<small>Who can view this recipe?</small>
		</p>
		<div class="radio">
			<label class="radio-inline">
				<input type="radio"
					   name="isPublic"
					   ng-value="true"
					   ng-model="rf.recipeData.isPublic"
					   ng-focus="rf.clearChar()"
					   required>Anyone can view
			</label>

			<label class="radio-inline">
				<input type="radio"
					   name="isPublic"
					   ng-value="false"
					   ng-model="rf.recipeData.isPublic"
					   ng-focus="rf.clearChar()">Only me
			</label>
		</div>
	</div>

	<div class="form-group recipeForm-category">
		<label for="recipeCategory">Dish<span class="req">*</span></label>
		<select id="recipeCategory"
				name="category"
				class="form-control"
				ng-options="item as item for item in rf.categories"
				ng-model="rf.recipeData.category"
				ng-focus="rf.clearChar()">
		</select>
	</div>

	<div class="form-group recipeForm-tags">
		<label>Tags</label>
		<p>
			<small>Select any applicable tags.</small>
		</p>
		<p>
			<button ng-repeat="tag in rf.tags"
					ng-click="rf.addRemoveTag(tag)"
					class="btn"
					ng-class="{'btn-info': !rf.tagMap[tag], 'btn-danger': rf.tagMap[tag]}">
				<i ng-class="{'added': rf.tagMap[tag]}" class="fa fa-times"></i> {{tag}}
			</button>
		</p>
	</div>

	<div class="form-group recipeForm-servings">
		<label for="servings">Servings</label>
		<p>
			<small>How many servings does this recipe make?</small>
		</p>
		<input id="servings"
			   name="servings"
			   type="number"
			   min="1"
			   step="1"
			   class="form-control"
			   ng-pattern="/^\d+$/"
			   ng-model="rf.recipeData.servings"
			   ng-focus="rf.clearChar()">
		<div ng-if="recipeForm.servings.$invalid && recipeForm.servings.$dirty" ng-messages="recipeForm.servings.$error" class="text-danger">
			<span ng-message="pattern">Please enter an integer.</span>
			<span ng-message="number">Please enter an integer.</span>
		</div>
	</div>

	<div class="form-group recipeForm-prepTime">
		<label for="prepTime">Preparation Time</label>
		<p>
			<small>How long will it take to prepare this recipe? Enter time in minutes (we will convert it to
				hours if necessary).</small>
		</p>
		<div class="form-group form-inline">
			<div class="input-group">
				<input id="prepTime"
					   name="prepTime"
					   type="number"
					   min="1"
					   step="1"
					   class="form-control"
					   ng-pattern="rf.timeRegex"
					   ng-model="rf.recipeData.prepTime"
					   ng-focus="rf.clearChar()">
				<div class="input-group-addon">minutes</div>
			</div>

			<div ng-if="recipeForm.prepTime.$valid && rf.recipeData.prepTime >= 60"
				 class="recipeForm-prepTime-conversion text-info">({{rf.recipeData.prepTime |
				minToH}})</div>
			<div ng-if="recipeForm.prepTime.$invalid && recipeForm.prepTime.$dirty" ng-messages="recipeForm.prepTime.$error" class="text-danger">
				<span ng-message="number">{{rf.timeError}}</span>
				<span ng-message="pattern">{{rf.timeError}}</span>
			</div>
		</div>
	</div>

	<div class="form-group recipeForm-cookTime">
		<label for="cookTime">Cook Time</label>
		<p>
			<small>How long will it take to cook this recipe? Enter time in minutes (we will convert it to
				hours if necessary).</small>
		</p>
		<div class="form-group form-inline">
			<div class="input-group">
				<input id="cookTime"
					   name="cookTime"
					   type="number"
					   min="1"
					   step="1"
					   class="form-control"
					   ng-pattern="rf.timeRegex"
					   ng-model="rf.recipeData.cookTime"
					   ng-focus="rf.clearChar()">
				<div class="input-group-addon">minutes</div>
			</div>
			<span ng-if="recipeForm.cookTime.$valid && rf.recipeData.cookTime >= 60"
				 class="recipeForm-cookTime-conversion text-info">({{rf.recipeData.cookTime |
				minToH}})</span>
			<div ng-if="recipeForm.cookTime.$invalid && recipeForm.cookTime.$dirty" ng-messages="recipeForm.cookTime.$error" class="text-danger">
				<span ng-message="number">{{rf.timeError}}</span>
				<span ng-message="pattern">{{rf.timeError}}</span>
			</div>
		</div>
	</div>

	<div class="form-group recipeForm-dietary">
		<label for="dietary">Special Diet</label>
		<p>
			<small>Indicate a primary dietary concern that this recipe addresses, if any.</small>
		</p>
		<select id="dietary"
				name="dietary"
				class="form-control"
				ng-options="item as item for item in rf.dietary"
				ng-model="rf.recipeData.dietary"
				ng-focus="rf.clearChar()">
			<option value="">None</option>
		</select>
	</div>

	<button class="btn"
			ng-class="{'btn-primary': !rf.saved, 'btn-success': rf.saved === true, 'btn-danger': rf.saved === 'error'}"
			ng-disabled="recipeForm.$invalid || !rf.recipeData.ingredients[0].ingredient || !rf.recipeData.directions[0].step"
			ng-click="rf.saveRecipe()">
		<i class="fa"
		   ng-class="{'fa-download': !rf.saved, 'fa-check': rf.saved === true, 'fa-ban': rf.saved === 'error'}"></i> {{rf.saveBtnText}}
	</button>
</form>