<div ng-if="rl.recipes.length" class="recipesList-searchFilter">
	<!-- Search -->
	<div class="recipesList-searchFilter-search form-group form-inline">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input id="query"
				   type="text"
				   class="form-control"
				   ng-model="rl.query"
				   placeholder="Search recipes" />
			<span class="input-group-btn">
				<button class="btn btn-default" ng-disabled="!rl.query" ng-click="rl.query=''">&times;</button>
			</span>
		</div>
	</div>

	<!-- Filtering -->
	<div class="recipesList-searchFilter-filter">
		<h4><i class="fa fa-fw fa-filter"></i>Filter Recipes</h4>

		<div ng-if="rl.showCategoryFilter"
			 class="recipesList-searchFilter-filter-item recipesList-searchFilter-filter-category input-group">
			<label for="filter-category" class="input-group-addon">
				<i class="fa fa-fw fa-cutlery"></i>Dish
			</label>
			<select id="filter-category"
					class="form-control"
					ng-options="cat as cat for cat in rl.categories"
					ng-model="rl.catPredicate">
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default"
						ng-click="rl.catPredicate = ''"
						ng-disabled="!rl.catPredicate">
					&times;
				</button>
			</span>
		</div>
		<div ng-if="rl.showTagFilter"
			 class="recipesList-searchFilter-filter-item recipesList-searchFilter-filter-tag input-group">
			<label for="filter-tag" class="input-group-addon">
				<i class="fa fa-fw fa-tag"></i>Tag
			</label>
			<select id="filter-tag"
					class="form-control"
					ng-options="tag as tag for tag in rl.tags"
					ng-model="rl.tagPredicate">
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default"
						ng-click="rl.tagPredicate = ''"
						ng-disabled="!rl.tagPredicate">
					&times;
				</button>
			</span>
		</div>
		<div class="recipesList-searchFilter-filter-item recipesList-searchFilter-filter-diet input-group">
			<label for="filter-diet" class="input-group-addon">
				<i class="fa fa-fw fa-heartbeat"></i>Diet
			</label>
			<select id="filter-diet"
					class="form-control"
					ng-options="diet as diet for diet in rl.specialDiet"
					ng-model="rl.dietPredicate">
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default"
						ng-click="rl.dietPredicate = ''"
						ng-disabled="!rl.dietPredicate">
					&times;
				</button>
			</span>
		</div>
	</div>

	<divider></divider>

	<!-- Sorting -->
	<div class="recipesList-searchFilter-sort">
		<div class="recipesList-searchFilter-sort-buttons btn-group btn-group-sm" role="group">
			<button class="btn btn-default btn-label" disabled>Sort:</button>
			<button class="btn btn-default"
					ng-click="rl.sortPredicate = 'name'; rl.toggleSort('name');"
					ng-class="{active: rl.sortPredicate === 'name'}">
				<i class="fa fa-fw"
				   ng-class="{
				   	'fa-sort': rl.sortPredicate !== 'name',
				   	'fa-sort-alpha-asc': rl.sortPredicate === 'name' && !rl.nameReverse,
				   	'fa-sort-alpha-desc': rl.sortPredicate === 'name' && rl.nameReverse}"></i>Name
			</button>

			<button class="btn btn-default"
					ng-click="rl.sortPredicate = 'totalTime'; rl.toggleSort('totalTime')"
					ng-class="{active: rl.sortPredicate === 'totalTime'}">
				<i class="fa fa-fw"
				   ng-class="{
				   	'fa-sort': rl.sortPredicate !== 'totalTime',
				   	'fa-sort-numeric-asc': rl.sortPredicate === 'totalTime' && !rl.totalTimeReverse,
				   	'fa-sort-numeric-desc': rl.sortPredicate === 'totalTime' && rl.totalTimeReverse}"></i>Time
			</button>

			<button class="btn btn-default"
					ng-click="rl.sortPredicate = 'nIng'; rl.toggleSort('nIng')"
					ng-class="{active: rl.sortPredicate === 'nIng'}">
				<i class="fa fa-fw"
				   ng-class="{
				   	'fa-sort': rl.sortPredicate !== 'nIng',
				   	'fa-sort-amount-asc': rl.sortPredicate === 'nIng' && !rl.nIngReverse,
				   	'fa-sort-amount-desc': rl.sortPredicate === 'nIng' && rl.nIngReverse}"></i># Ingredients
			</button>
		</div>
	</div>
</div>

<div ng-if="(rl.recipes | filter:rl.query).length" class="recipesList-recipes-wrapper">
	<ul class="recipesList-list list-unstyled">
		<li ng-repeat="recipe in rl.recipes | filter:rl.query | filter:rl.catPredicate | filter:rl.tagPredicate | filter:rl.dietPredicate | orderBy:rl.sortPredicate:rl.reverse" class="recipesList-list-item">
			<h4 class="recipesList-list-item-name"><a ng-href="/recipe/{{::recipe.slug}}">{{::recipe.name}}</a></h4>

			<span class="recipesList-list-item-category">
				<i class="fa fa-fw fa-cutlery"></i>
				<a ng-href="/recipes/category/{{::recipe.category | lowercase}}">{{::recipe.category}}</a>
			</span>
			<span ng-if="recipe.tags.length" class="recipesList-list-item-tags">
				<i class="fa fa-fw fa-tags"></i>
				<span ng-repeat="tag in recipe.tags"><a ng-href="/recipes/tag/{{::tag}}">{{::tag}}</a>{{!$last ? ', ' : ''}}</span>
			</span>
			<span ng-if="recipe.prepTime || recipe.cookTime" class="recipesList-list-item-time">
				<i class="fa fa-fw fa-clock-o"></i>{{::(recipe.prepTime + recipe.cookTime) | minToH}}
			</span>

			<p class="recipesList-list-item-desc">{{::recipe.description | trimStr:100}}</p>
		</li>
	</ul>
</div>

<div ng-if="rl.recipes && !(rl.recipes | filter:rl.query | filter:rl.catPredicate | filter:rl.tagPredicate | filter:rl.dietPredicate).length" class="alert alert-warning">
	<i class="fa fa-warning"></i> No recipes{{rl.query || rl.catPredicate || rl.tagPredicate ? ' match your search/filter query' : ''}}.
</div>