<div ng-if="rl.recipes.length" class="form-group form-inline">
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-search"></i></span>
		<input id="query" type="text" class="form-control" ng-model="rl.query" placeholder="Search recipes" />
		<span class="input-group-btn">
			<button class="btn btn-default" ng-disabled="!rl.query" ng-click="rl.query=''">&times;</button>
		</span>
	</div>
</div>

<ul ng-if="(rl.recipes | filter:rl.query).length">
	<li ng-repeat="recipe in rl.recipes | filter:rl.query | orderBy:'name'">
		<a ng-href="/recipe/{{::recipe.slug}}">{{::recipe.name}}</a>
	</li>
</ul>

<div ng-if="rl.recipes && !(rl.recipes | filter:rl.query).length" class="alert alert-warning">
	<i class="fa fa-warning"></i> No recipes{{rl.query ? ' match your search query' : ''}}.
</div>