/*--------------------
     RECIPES LIST
--------------------*/

.recipesList {
	&-searchFilter {
		&-toggle {
			i {
				transition: transform 250ms ease;
			}
			.open {
				transform: rotateZ(45deg);
				transition: transform 250ms ease;
			}
			.badge {
				background-color: $brand-info;
				font-size: 10px;
				padding: 3px 6px;
			}
		}
		&-search {
			margin-bottom: 20px;
		}
		&-filter {
			&-item {
				margin: 6px 0;
			}
		}
	}
	&-sort {
		margin: 15px 0;

		&-buttons {
			.btn {
				color: $text-muted;

				i {
					opacity: .6;
				}
				&.active {
					color: $color-copy;

					i {
						opacity: 1;
					}
				}
			}
			.btn-label {
				color: $color-copy;
				font-weight: bold;
				opacity: 1;
			}
		}
	}
	&-list {
		&-item {
			border-bottom: 1px solid $color-border;

			&:last-child {
				border-bottom: 0 none;
			}
			&-name {
				font-size: 16px;
				margin-bottom: 5px;
			}
			> span {
				display: block;

				@include mq($mq-large) {
					display: inline;
				}
			}
			&-desc {
				margin-top: 4px;
			}
		}
	}
	&-recipes-displayedResults {
		font-size: 11px;
		margin: 20px 0 3px;
		text-transform: uppercase;
	}
}