/*--------------------
	 RECIPE FORM
--------------------*/

.recipeForm {
	&-ingredients-item,
	&-directions-step {
		margin-bottom: 8px;
	}
	&-ingredients-item {
		&-amt,
		&-ingredient {
			margin-bottom: 3px;

			@include mq($mq-large) {
				margin-bottom: 0;
			}
		}
	}
	&-servings input,
	&-prepTime input,
	&-cookTime input {
		@include mq($mq-large) {
			max-width: 80px;
		}
	}
	&-prepTime-conversion,
	&-cookTime-conversion {
		display: block;
		font-style: italic;
		padding-top: 8px;

		@include mq($mq-large) {
			display: inline;
			padding-top: 0;
		}
	}
	&-specialChars button {
		font-size: 14px;
		margin-left: 2px;

		&:first-child {
			margin-left: 0;
		}
	}
	&-dietary select {
		max-width: 150px;
	}
	div[ng-messages] {
		padding-top: 8px;
	}
}