/*--------------------
	 RECIPE FORM
--------------------*/

.recipeForm {
	&-ingredients-item,
	&-directions-step {
		margin-bottom: 8px;
	}
	&-ingredients-item {
		&-amt,
		&-ingredient {
			margin-bottom: 3px;

			@include mq($mq-large) {
				margin-bottom: 0;
			}
		}
	}
	&-servings input,
	&-prepTime input,
	&-cookTime input {
		max-width: 100px;
	}
	&-dietary select {
		max-width: 150px;
	}
	div[ng-messages] {
		padding-top: 8px;
	}
}