/*--------------------
	 RECIPE FORM
--------------------*/

.recipeForm {
	&-ingredients-item,
	&-directions-step {
		margin-bottom: 8px;
	}
	&-ingredients-item {
		&-amt,
		&-ingredient {
			margin-bottom: 3px;

			@include mq($mq-large) {
				margin-bottom: 0;
			}
		}
		&-amt-input {
			cursor: text;
		}
	}
	&-servings input,
	&-prepTime input,
	&-cookTime input {
		@include mq($mq-large) {
			max-width: 80px;
		}
	}
	&-prepTime-conversion,
	&-cookTime-conversion {
		display: block;
		font-style: italic;
		padding-top: 8px;

		@include mq($mq-large) {
			display: inline;
			padding-top: 0;
		}
	}
	&-specialChars,
	&-tags {
		button {
			font-size: 14px;
			margin-bottom: 2px;
			margin-right: 2px;

			i {
				transition: all 250ms ease;
				transform: rotateZ(45deg);

				&.added {
					transition: all 250ms ease;
					transform: rotateZ(0deg);
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-category select,
	&-dietary select {
		max-width: 150px;
	}
	[ng-messages],
	.ng-messages {
		padding-top: 8px;
	}
}