<article id="content-wrapper" class="content-wrapper myRecipes-wrapper">
	<section id="content-main" class="content-main myRecipes-content clearfix" ng-cloak>

		<div ng-if="myRecipes.isAuthenticated()">
			<h1 class="content-heading">My Recipes</h1>

			<ul class="nav nav-tabs myRecipesTabs">
				<li role="presentation" ng-repeat="tab in myRecipes.tabs" ng-class="{active: myRecipes.currentTab === tab.query}">
					<a ng-click="myRecipes.changeTab(tab.query)">{{tab.name}}</a>
				</li>
			</ul>

			<!-- My Recipe Box -->
			<section ng-if="myRecipes.currentTab === 'recipe-box'" class="recipeBox">
				<h2><i class="fa fa-archive fa-fw"></i>My Recipe Box</h2>

				<p class="lead">View your personal recipes.</p>

				<recipes-list recipes="myRecipes.recipes"></recipes-list>
			</section>

			<!-- Add New Recipe -->
			<section ng-if="myRecipes.currentTab === 'add-recipe'" class="addRecipe">
				<h2><i class="fa fa-book fa-fw"></i>Add New Recipe</h2>
				<recipe-form ng-if="myRecipes.user" user-id="{{::myRecipes.user._id}}"></recipe-form>
			</section>
		</div>

	</section>
</article>