<form name="recipeForm" ng-submit="rf.saveRecipe()" novalidate>
	<p class="req"><strong>*</strong> <small><em>required</em></small></p>

	<div class="form-group">
		<label for="recipeName">Recipe Name<span class="req">*</span></label>
		<input id="recipeName"
			   name="name"
			   type="text"
			   ng-model="rf.recipeData.name"
			   class="form-control"
			   required>
	</div>

	<div class="form-group">
		<label>Public<span class="req">*</span></label>
		<p>
			<small>Indicate whether this recipe should appear in the public listing. Users with a direct link will still be able to view recipes.</small>
		</p>
		<div class="radio">
			<label class="radio-inline">
				<input type="radio"
					   name="isPublic"
					   ng-value="true"
					   ng-model="rf.recipeData.isPublic"
					   required>Yes
			</label>

			<label class="radio-inline">
				<input type="radio"
					   name="isPublic"
					   ng-value="false"
					   ng-model="rf.recipeData.isPublic">No
			</label>
		</div>
	</div>

	<button class="btn"
			ng-class="{'btn-primary': !rf.saved, 'btn-success': rf.saved === true, 'btn-danger': rf.saved === 'error'}"
			ng-disabled="recipeForm.$invalid">
		<i class="fa"
		   ng-class="{'fa-download': !rf.saved, 'fa-check': rf.saved === true, 'fa-ban': rf.saved === 'error'}"></i> {{rf.saveBtnText}}
	</button>
</form>