<form name="recipeForm" novalidate>
	<p class="req"><strong>*</strong> <small><em>required</em></small></p>

	<div class="form-group recipeForm-name">
		<label for="recipeName">Recipe Name<span class="req">*</span></label>
		<input id="recipeName"
			   name="name"
			   type="text"
			   ng-model="rf.recipeData.name"
			   class="form-control"
			   required>
	</div>

	<div class="form-group recipeForm-description">
		<label for="recipeDescription">Description<span class="req">*</span></label>
		<textarea id="recipeDescription"
				  name="recipeDescription"
				  class="form-control"
				  rows="3"
				  ng-model="rf.recipeData.description"
				  required></textarea>
	</div>

	<div class="form-group recipeForm-ingredients">
		<label>Ingredients<span class="req">*</span></label>

		<div class="form-inline recipeForm-ingredients-item"
			 ng-repeat="ing in rf.recipeData.ingredients track by $index">

			<div class="input-group recipeForm-ingredients-item-amt">
				<label for="ingredientAmt-{{$index}}" class="input-group-addon">Amount</label>
				<input id="ingredientAmt-{{$index}}"
					   name="ingredientAmt-{{$index}}"
					   type="text"
					   placeholder="1 c, 1/4 tsp, pinch"
					   ng-model="ing.amt"
					   class="form-control">
			</div>

			<div class="input-group recipeForm-ingredients-item-ingredient">
				<label for="ingredient-{{$index}}" class="input-group-addon">Ingredient</label>
				<input id="ingredient-{{$index}}"
					   name="ingredient-{{$index}}"
					   type="text"
					   placeholder="flour"
					   ng-model="ing.ingredient"
					   class="form-control">
			</div>

			<button class="btn btn-danger recipeForm-ingredients-item-deleteBtn"
					ng-click="rf.removeItem(rf.recipeData.ingredients, $index)"
					ng-disabled="rf.recipeData.ingredients.length === 1">
				<i class="fa fa-trash"></i>
			</button>
		</div>

		<p>
			<button class="btn btn-info" ng-click="rf.addItem(rf.recipeData.ingredients)">
				<i class="fa fa-plus"></i> Add Ingredient
			</button>
		</p>
	</div>

	<div class="form-group recipeForm-directions">
		<label>Directions<span class="req">*</span></label>

		<div class="recipeForm-directions-step" ng-repeat="step in rf.recipeData.directions track by $index">
			<div class="input-group">
				<div class="input-group-addon">{{$index + 1}}.</div>
				<input id="directions-{{$index}}"
					   name="directions-{{$index}}"
					   type="text"
					   placeholder="Written instructions"
					   ng-model="step.step"
					   class="form-control">
				<div class="input-group-btn">
					<button class="btn btn-danger"
							ng-click="rf.removeItem(rf.recipeData.directions, $index)"
							ng-disabled="rf.recipeData.directions.length === 1">
						<i class="fa fa-trash"></i>
					</button>
				</div>
			</div>
		</div>

		<p>
			<button class="btn btn-info" ng-click="rf.addItem(rf.recipeData.directions)">
				<i class="fa fa-plus"></i> Add Step
			</button>
		</p>
	</div>

	<div class="form-group recipeForm-public">
		<label>Public<span class="req">*</span></label>
		<p>
			<small>Indicate whether this recipe should be visible to other people.</small>
		</p>
		<div class="radio">
			<label class="radio-inline">
				<input type="radio"
					   name="isPublic"
					   ng-value="true"
					   ng-model="rf.recipeData.isPublic"
					   required>Anyone can view
			</label>

			<label class="radio-inline">
				<input type="radio"
					   name="isPublic"
					   ng-value="false"
					   ng-model="rf.recipeData.isPublic">Only me
			</label>
		</div>
	</div>

	<div class="form-group recipeForm-dietary">
		<label for="dietary">Special Diet</label>
		<p>
			<small>Indicate a primary dietary concern that this recipe addresses, if any.</small>
		</p>
		<select id="dietary"
				name="dietary"
				class="form-control"
				ng-options="item as item for item in rf.dietary"
				ng-model="rf.recipeData.dietary">
		</select>
	</div>

	<button class="btn"
			ng-class="{'btn-primary': !rf.saved, 'btn-success': rf.saved === true, 'btn-danger': rf.saved === 'error'}"
			ng-disabled="recipeForm.$invalid || !rf.recipeData.ingredients[0].ingredient || !rf.recipeData.directions[0].step"
			ng-click="rf.saveRecipe()">
		<i class="fa"
		   ng-class="{'fa-download': !rf.saved, 'fa-check': rf.saved === true, 'fa-ban': rf.saved === 'error'}"></i> {{rf.saveBtnText}}
	</button>
</form>