/*--------------------
  BASICS / NORMALIZE
--------------------*/

/*-- Clearfix --*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.ie7 .clearfix { zoom: 1; }

/*-- ng-cloak: prevent FOUC before Angular JavaScript loads --*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

/*-- a, ng-click: cursor --*/

a,
[ng-click],
[data-ng-click] {
	cursor: pointer;
}

/*-- Image Replacement --*/

.ir {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

/*-- Inline link touch targets --*/

.touch p a {
	margin: 0 -.5em;
	padding: 0 .5em;
}

/*-- Forms --*/

.input-group-btn .btn {
	height: 34px;
}

/*--------------------
	    PRINT
--------------------*/

@media print {

	* { background: $color-white; }
	body {
		color: $color-black;
		font: normal 16px/1.4 Georgia, 'Times New Roman', serif;
	}

	/*-- Hidden Elements --*/

	.header-global,
	.footer-global { display: none; }

	/*-- Show link URLs --*/

	a:link,
	a:visited {
		color: blue;
		text-decoration: underline;
	}
	a:link:after,
	a:visited:after {
		content:" [" attr(href) "] ";
		font-size: 75%;
	}

}