/*--------------------
    COLOR VARIABLES
--------------------*/

// Name of Color (http://name-of-color.com)
$color-black: #000;
$color-mineShaft: #333;
$color-black-light: #555;
$color-mountainMist: #999;
$color-celeste: #ccc;
$color-bonJour: #E0E0E0;
$color-gallery: #eee;
$color-white: #fff;

// By function
$color-bgContent: $color-white;
$color-copy: $color-mineShaft;
$color-disabled: $color-mountainMist;
$color-border: $color-bonJour;
$color-placeholder: $color-gallery;
$color-placeholder-bg: $color-celeste;
$color-drag-placeholder: $color-gallery;

// RGBA
$color-invalid-rgba: rgba(169,68,66,.6);
$color-gray-rgba: rgba(255,255,255,.5);

// Social Media
$color-social-facebook: #43609C;
$color-social-facebook-dark: #213c73;
$color-social-twitter: #55ACEE;
$color-social-twitter-dark: #247aba;
$color-social-google: #DA4631;
$color-social-google-dark: #a3220f;
$color-social-github: #F5F5F5;
$color-social-github-dark: #bcbcbc;