<article id="content-wrapper" class="content-wrapper login-wrapper" view-switch>
	<section id="content-main" class="content-main login-content clearfix container-fluid"
			 ng-controller="LoginCtrl as login"
			 ng-cloak>

		<h1 class="content-heading">
			<span ng-if="login.isAuthenticated() === false"><i class="fa fa-sign-in"></i> Login</span>
			<span ng-if="login.isAuthenticated()"><i class="fa fa-sign-out"></i> Logout</span>
		</h1>

		<div ng-if="login.isAuthenticated() === false" class="jumbotron">
			<p ng-if="!login.loggingIn || login.loggingIn === 'error'">Please login with one of the following services.</p>

			<p ng-if="login.loggingIn === true"><i class="fa fa-cog fa-spin"></i> Logging in...</p>

			<div ng-if="login.loggingIn === 'error'" class="alert alert-danger">
				<i class="fa fa-warning"></i> Login failed!
			</div>

			<detect-adblock></detect-adblock>

			<button ng-repeat="l in login.logins"
					class="btn btn-block btn-auth btn-{{::l.account}}"
					ng-click="login.authenticate(l.account)"
					ng-disabled="login.loggingIn === true">
				<i class="fa fa-{{::l.account}}"></i> Login with {{::l.name}}
			</button>
		</div>

		<div ng-if="login.isAuthenticated()" class="jumbotron">
			<div class="alert alert-info">
				<i class="fa fa-info-circle"></i> You are already logged in.
			</div>

			<p class="lead"> To sign in with a different account, you must
				logout first.</p>

			<button class="btn btn-block btn-warning" ng-click="login.logout()"><i class="fa fa-sign-out"></i> Logout
			</button>
		</div>

	</section>
</article>