<div ng-controller="HeaderCtrl as header" nav-control>
	<div class="header-mobile-page">
		<a class="toggle-offcanvas" ng-click="nav.toggleNav()">
			<span></span></a>
		<h1 class="header-mobile-page-siteTitle">{{::header.localData.title}}</h1>
	</div>

	<!-- only show navigation if user is logged in -->
	<nav id="nav" class="nav" role="navigation">
		<ul class="nav-list">
			<li>
				<a ng-class="{active: header.indexIsActive('/')}" ng-href="/"><i class="fa fa-cutlery fa-fw"></i> All
					Recipes</a>
			</li>
			<li ng-if="header.isAuthenticated()">
				<a ng-class="{active: header.navIsActive('/my-recipes')}" ng-href="/my-recipes"><i
						class="fa fa-archive fa-fw"></i> My Recipes</a>
			</li>
			<li ng-if="header.isAuthenticated()">
				<a ng-class="{active: header.navIsActive('/account')}" ng-href="/account"><i class="fa fa-user fa-fw"></i> My Account</a>
			</li>
			<li ng-if="header.isAuthenticated() && header.adminUser">
				<a ng-class="{active: header.navIsActive('/admin')}" ng-href="/admin"><i class="fa fa-wrench fa-fw"></i>
					Admin</a>
			</li>
			<li ng-if="!header.isAuthenticated()">
				<a ng-class="{active: header.navIsActive('/login')}" ng-href="/login"><i
						class="fa fa-sign-in fa-fw"></i> Login</a>
			</li>
			<li ng-if="header.isAuthenticated()">
				<a ng-click="header.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
			</li>
		</ul>
	</nav>
</div>