<div ng-controller="HeaderCtrl as header" nav-control>
	<div class="header-mobile-page">
		<a class="toggle-offcanvas" ng-click="header.isAuthenticated() ? nav.toggleNav() : null" ng-class="{'disabled': !header.isAuthenticated()}">
			<span></span></a>
		<h1 class="header-mobile-page-siteTitle">{{::header.localData.title}}</h1>
	</div>

	<!-- only show navigation if user is logged in -->
	<nav ng-if="header.isAuthenticated()" id="nav" class="nav" role="navigation">
		<ul class="nav-list">
			<li>
				<a ng-class="{active: header.indexIsActive('/')}" ng-href="/"><i class="fa fa-home"></i> Home</a>
			</li>
			<li>
				<a ng-class="{active: header.navIsActive('/account')}" ng-href="/account"><i class="fa fa-user"></i> My Account</a>
			</li>
			<li ng-if="header.adminUser">
				<a ng-class="{active: header.navIsActive('/admin')}" ng-href="/admin"><i class="fa fa-wrench"></i>
					Admin</a>
			</li>
			<li>
				<a ng-click="header.logout()"><i class="fa fa-sign-out"></i> Logout</a>
			</li>
		</ul>
	</nav>
</div>