<article id="content-wrapper" class="content-wrapper recipesAuthor-wrapper" view-switch>
	<section id="content-main" class="content-main recipesAuthor-content clearfix" ng-cloak>

		<h1 class="content-heading">Recipes by {{ra.author.displayName}}</h1>

		<div ng-if="ra.recipes.length" class="form-group form-inline">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input id="query" type="text" class="form-control" ng-model="ra.query" placeholder="Search recipes" />
					<span class="input-group-btn">
						<button class="btn btn-default" ng-disabled="!ra.query" ng-click="ra.query=''">&times;</button>
					</span>
			</div>
		</div>

		<ul ng-if="(ra.recipes | filter:ra.query).length">
			<li ng-repeat="recipe in ra.recipes | filter:ra.query | orderBy:'name'">
				<a ng-href="/recipe/{{::recipe.slug}}">{{::recipe.name}}</a>
			</li>
		</ul>

		<div ng-if="ra.recipes && !(ra.recipes | filter:ra.query).length" class="alert alert-warning">
			<i class="fa fa-warning"></i> No recipes{{ra.query ? ' match your search query' : ''}}.
		</div>

	</section>
</article>