<article id="content-wrapper" class="content-wrapper recipe-wrapper" view-switch>
	<section id="content-main" class="content-main recipe-content clearfix" ng-cloak>

		<div ng-if="recipe.recipe && recipe.recipe !== 'error'">
			<h1 class="content-heading">
				{{::recipe.recipe.name}}
				<small ng-if="recipe.user && recipe.user._id === recipe.recipe.userId"> <a ng-href="/recipe/{{::recipe.recipe.slug}}/edit"><i class="fa fa-pencil-square-o"></i></a></small>
			</h1>

			<a ng-if="recipe.recipe.photo"
			   ng-href="{{::'/uploads/images/' + recipe.recipe.photo}}" target="_blank">
				<img class="recipe-photo" ng-src="{{::'/uploads/images/' + recipe.recipe.photo}}">
			</a>

			<p class="lead" ng-bind-html="recipe.recipe.description"></p>

			<p class="recipe-author">
				From the kitchen of <img class="user-picture" ng-src="{{::recipe.author.picture}}"/><a
					class="user-displayName"
					ng-href="/recipes/author/{{::recipe.author.id}}">{{::recipe.author.displayName}}</a>
			</p>

			<ul class="recipe-info-list">
				<li class="recipe-info-list-category">
					<i class="fa fa-fw fa-cutlery"></i><strong>Dish:</strong> <a
						ng-href="/recipes/category/{{::recipe.recipe.category | lowercase}}">{{::recipe.recipe.category}}</a>
				</li>
				<li ng-if="recipe.recipe.tags && recipe.recipe.tags.length" class="recipe-info-list-tags">
					<i class="fa fa-fw fa-tags"></i><strong>Tags:</strong> <span
						ng-repeat="tag in recipe.recipe.tags"><a ng-href="/recipes/tag/{{::tag}}">{{::tag
					}}</a>{{!$last ? ', ' : ''}}</span>
				</li>
				<li ng-if="recipe.recipe.dietary" class="recipe-info-list-dietary">
					<i class="fa fa-fw fa-heartbeat"></i><strong>Special Diet:</strong> {{recipe.recipe.dietary}}
				</li>
				<li ng-if="recipe.recipe.servings" class="recipe-info-list-servings">
					<i class="fa fa-fw fa-male"></i><strong>Servings:</strong> {{recipe.recipe.servings}}
				</li>
				<li ng-if="recipe.recipe.prepTime" class="recipe-info-list-prepTime">
					<i class="fa fa-fw fa-spoon"></i><strong>Preparation Time:</strong> {{recipe.recipe.prepTime |
					minToH}}
				</li>
				<li ng-if="recipe.recipe.cookTime" class="recipe-info-list-cookTime">
					<i class="fa fa-fw fa-fire"></i><strong>Cook Time:</strong> {{recipe.recipe.cookTime | minToH}}
				</li>
				<li ng-if="recipe.recipe.prepTime && recipe.recipe.cookTime" class="recipe-info-list-totalTime">
					<i class="fa fa-fw fa-clock-o"></i><strong>Total Time:</strong> {{(recipe.recipe.prepTime + recipe.recipe.cookTime) |
					minToH}}
				</li>
			</ul>

			<section class="recipe-ingredients">
				<h2>Ingredients</h2>

				<ul>
					<li ng-repeat="ing in recipe.recipe.ingredients"
						id="#ing-{{$index}}"
						ng-click="recipe.toggleCheck('ing', $index)"
						ng-class="{'checked': recipe.ingChecked[$index]}">
						<i class="fa"
						   ng-class="{'fa-circle-o': !recipe.ingChecked[$index], 'fa-check-circle': recipe.ingChecked[$index]}"></i>
						<span>
							{{::ing.amt}}
							{{::ing.ingredient}}
						</span>
					</li>
				</ul>
			</section>

			<section class="recipe-directions">
				<h2>Directions</h2>

				<ol>
					<li ng-repeat="step in recipe.recipe.directions" ng-bind-html="step.step"></li>
				</ol>
			</section>

			<p ng-if="recipe.user && recipe.author && recipe.author.id !== recipe.user._id">
				<a ng-click="recipe.fileRecipe(recipe.recipe._id)">
					<span ng-if="recipe.filed === undefined"><i class="fa fa-fw" ng-class="{'fa-times': recipe.user.savedRecipes.indexOf(recipe.recipe._id) !== -1, 'fa-folder-open-o': recipe.user.savedRecipes.indexOf(recipe.recipe._id) === -1}"></i>{{recipe.user.savedRecipes.indexOf(recipe.recipe._id) !== -1 ? recipe.unfileText : recipe.fileText}}</span>
					<span ng-if="recipe.filed !== undefined"><i class="fa fa-fw" ng-class="{'fa-times': recipe.filed, 'fa-folder-open-o': !recipe.filed}"></i>{{recipe.filed ? recipe.unfileText : recipe.fileText}}</span>
				</a>
			</p>
		</div>

		<div ng-if="recipe.recipe === 'error'" class="alert alert-danger">
			<i class="fa fa-warning"></i> {{recipe.errorMsg}}
		</div>

	</section>
</article>