<article id="content-wrapper" class="content-wrapper recipe-wrapper" view-switch>
	<section id="content-main" class="content-main recipe-content clearfix" ng-cloak>

		<div ng-if="recipe.recipe && recipe.recipe !== 'error'">
			<h1 class="content-heading">
				{{recipe.recipe.name}}
				<small ng-if="recipe.user && recipe.user._id === recipe.recipe.userId"> <a ng-href="/recipe/{{recipe.recipe.slug}}/edit"><i class="fa fa-pencil-square-o"></i></a></small>
			</h1>
		</div>

		<div ng-if="recipe.recipe === 'error'" class="alert alert-danger">
			<i class="fa fa-warning"></i> Recipe not found.
		</div>

	</section>
</article>